body {
    font-family: poppins;
    margin: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HERO */
.hero{
    width: 100%;
    height: 100vh;
    background: url("Imagem_Home.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 40% 20%;
    padding-top: 90px;
    position: relative;
}

/* TEXTO HERO */
.container {
    font-weight: bold;
    margin-left: 60px;    
    max-width: 500px;
    color: #0A4174;
    font-size: 25px;
    padding: 0 40px;
}

/* ONDA */
.onda_servicos {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

/* IMAGEM ONDA */
.onda_servicos img {
    display: block;
    width: 100%;
    min-width: 1000px;
    margin-bottom: -2px;
    position: relative;
    z-index: 1;
}

/* TEXTO SOBRE A ONDA */
.servicos_container {
    position: absolute;
    bottom: 10px;
    left: 60px;
    max-width: 600px;
    color: #001D39;
    z-index: 2;
}

.titulo_serv h1 {
    font-size: 60px;
    line-height: 1.2;
}

.titulo_serv p {
    font-size: 25px;
    line-height: 1.4;
}




.servicos {
    background-image: url("Imagem_Home_Servicos.png");
    background-size: cover;
    background-position: 40% 20%;
    background-repeat: no-repeat;
    padding-top: 140px;
    padding-bottom: 750px;
    position: relative;
}

/* TEXTO */
.texto_serv h2 {
    text-align: center;
    font-size: 50px;
    color: #001D39;
}

/* CARDS */
.cards_serv {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 40px;
    flex-wrap: wrap;
}

.card_serv {
    background: #ffffff;
    border-radius: 20px;
    width: 260px;
    height: 200px;
    padding: 20px;
    text-align: center;
}

/* TÍTULO */
.card_serv h3 {
    font-size: 25px;
    font-weight: bold;
    color: #001D39;
    margin-bottom: 10px;
}

/* TEXTO */
.card_serv p {
    font-size: 14px;
    color: #555;
    line-height: 1.4;
}

/* TEXTO FINAL */
.texto2_serv {
    margin-top: 60px;
    text-align: center;
}

.texto2_serv h1 {
    font-size: 30px;
    color: #001D39;
}

/* ONDA */
.onda_investimentos {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

/* IMAGEM ONDA */
.onda_investimentos img {
    display: block;
    width: 100%;
    min-width: 1000px;
    margin-bottom: -2px;
}

/* TEXTO SOBRE A ONDA */
.investimentos_container {
    position: absolute;
    bottom: 10px;
    left: 60px;
    max-width: 600px;
    color: #BDD8E9;
}

.titulo_invest h1 {
    font-size: 55px;
    line-height: 1.2;
}

.titulo_invest p {
    font-size: 25px;
    line-height: 1.4;
}




.investimentos {
    background-color: #49769F;
    padding: 80px 60px 250px;
    position: relative;
}

/* WRAPPER */
.investimentos_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    flex-wrap: wrap;
}

/* CARDS */
.cards_invest {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 30px;
    width: 100%;
    max-width: 600px;
    justify-items: center;
}

/* CARD */
.card_invest {
    background: white;
    border-radius: 20px;
    width: 100%;
    max-width: 260px;
    height: 180px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

/* TEXTOS */
.card_invest h3 {
    font-size: 28px;
    line-height: 1.1;
    color: #001D39;
    margin-bottom: 10px;
}

.card_invest p1 {
    font-size: 15px;
    color: #001D39;
    line-height: 1.2;
    margin-bottom: 10px;
}

.card_invest p {
    font-size: 14px;
    line-height: 1.3;
    color: #555;
}

/* IMAGEM */
.imagem_invest {
    position: relative;
    flex-shrink: 0;
    width: 450px;
    display: flex;
    justify-content: center;
}

.img_direita {
    width: 100%;
    max-width: 450px;
    display: block;
    border-radius: 30px;
}

.btn_invest {
    position: relative;
    max-width: 600px;
    padding: 14px 28px;
    background: #001D39;
    color: white;
    border-radius: 999px;
    text-decoration: none;
    font-weight: 600;
    white-space: nowrap;
    display: block;
    margin-top: 30px;
}

.btn_invest:hover {
    background-color: white;
    color: #001D39;
}

/* QUANDO NÃO COUBER MAIS LADO A LADO */
@media (max-width: 1300px) {

    .investimentos_wrapper {
        flex-direction: column;
        align-items: center;
    }

    /* 🔥 SOME ANTES DE QUEBRAR */
    .imagem_invest {
        display: none;
    }

    /* BOTÃO CENTRALIZADO */
    .btn_invest {
        margin: 30px auto;
    }
}

/* ONDA EMPRESTIMO */
.onda_emprestimo {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 5;
}

.onda_emprestimo img {
    display: block;
    width: 100%;
    min-width: 1000px;
    margin-bottom: -2px;
}

.emprestimo_container {
    position: absolute;
    bottom: 10px;
    left: 60px;
    color: #BDD8E9;
}

.titulo_emprest h1 {
    font-size: 55px;
    line-height: 1.2;
}

.titulo_emprest p {
    font-size: 25px;
    line-height: 1.4;
}



/* SEÇÃO EMPRÉSTIMOS */
.emprestimos {
    background-color: #0A4174;
    margin-top: 0px;
    padding: 80px 60px 250px;
    position: relative;
}

/* WRAPPER */
.emprestimos_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
}

.img_esquerda {
    max-width: 500px;
    border-radius: 20px;
}

/* CARDS */
.cards_emprest {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* CARD */
.card_emprest {
    background: #ffffff;
    border-radius: 20px;
    padding: 15px 25px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    min-width: 400px;
}

/* TÍTULO */
.card_emprest strong {
   font-family: poppins;
    font-size: 16px;
    color: #001D39;

}
/* SUBTÍTULO */
.card_emprest p {
    font-family: poppins;
    font-size: 18px;
    color: #6b6b6b;
    margin: 0;
}
/* TEXTO */
.card_emprest h2 {
    font-family: poppins;
    font-weight: bold;
    font-size: 30px;
    color: #5f8ea3;
}

.btn_emprest {
    position: relative;
    max-width: 520px;
    padding: 14px 28px;
    background: #bdd8e9;
    color: #1C75BC;
    border-radius: 999px;
    text-decoration: none;
    font-weight: 600;
    white-space: nowrap;
    display: block;
    margin-top: 30px;
}

.btn_emprest:hover {
    background-color: white;
    color: #001D39;
}

/* QUANDO NÃO COUBER MAIS LADO A LADO */
@media (max-width: 1300px) {

    .emprestimo_wrapper {
        flex-direction: column;
        align-items: center;
    }

    /* 🔥 SOME ANTES DE QUEBRAR */
    .imagem_emprest {
        display: none;
    }

    /* BOTÃO CENTRALIZADO */
    .btn_emprest {
        margin: 30px;
    }
}

/* ONDA EMPRESTIMO */
.onda_seguros {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 5;
}

.onda_seguros img {
    display: block;
    width: 100%;
    min-width: 1000px;
    margin-bottom: -2px;
}

.seguros_container {
    position: absolute;
    bottom: 10px;
    left: 60px;
    color: #BDD8E9;
}

/* TÍTULO */
.titulo_seguros h1 {
    font-size: 55px;
    line-height: 1.2;
    color: #ffffff;
}

.titulo_seguros p {
    font-size: 25px;
    line-height: 1.4;
    color: #BDD8E9;
}




/* SEÇÃO SEGUROS */
.seguros {
    background-color: #001D39;
    padding: 80px 60px;
    position: relative;
}

/* WRAPPER */
.seguros_wrapper {
    display: flex;
    flex-direction: column;
    gap: 50px;
}



/* CARDS */
.cards_seguros {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}

/* CARD */
.card_seguro {
    background: #ffffff;
    border-radius: 25px;
    padding: 25px 20px;
    width: 100%;
    max-width: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* TÍTULO CARD */
.card_seguro h3 {
    font-size: 28px;
    line-height: 1.1;
    color: #001D39;
    margin-bottom: 20px;
}

/* TEXO PRINCIPAL */
.card_seguro p1 {
    font-size: 14px;
    line-height: 1.5;
    color: #1C75BC;
    margin-bottom: 25px;
}

/* LISTA */
.card_seguro ul {
    padding-left: 18px;
    margin: 0;
    text-align: left;
}

.card_seguro li {
    font-size: 13px;
    line-height: 1.5;
    color: #6b6b6b;
    margin-bottom: 12px;
}

/* BOTÃO */
.btn_seguro {
    position: relative;
    max-width: auto;
    padding: 14px 28px;
    background: #BDD8E9;
    color: #1C75BC;
    border-radius: 999px;
    text-decoration: none;
    font-weight: 600;
    white-space: nowrap;
    display: block;
    margin: 40px auto 0;
    text-align: center;
}

.btn_seguro:hover {
    background-color: #1C75BC;
    color: white;
}

/* RESPONSIVO */
@media (max-width: 1300px) {

    .seguros {
        padding: 60px 30px;
    }

    .titulo_seguros {
        text-align: center;
    }

    .cards_seguros {
        justify-content: center;
    }

    .card_seguro {
        max-width: 220x;
    }

    .btn_seguro {
        margin: 40px auto 0;
    }
}



/* SEÇÃO AJUDA */
.ajuda {
    background-color: #E5E5E5;
    padding: 80px 60px;
}

.ajuda_titulo {
    text-align: right;
    margin-bottom: 60px;
}

.ajuda_titulo h1 {
    font-size: 60px;
    line-height: 1.1;
    color: #001D39;
}

.ajuda_titulo p {
    font-size: 28px;
    color: #001D39;
}

.ajuda_wrapper {
    display: flex;
    justify-content: space-between;
    gap: 60px;
    flex-wrap: wrap;
}

/* COLUNAS */
.coluna_ajuda {
    flex: 1;
    min-width: 220px;
}

/* TÍTULOS */
.coluna_ajuda h3 {
    font-size: 28px;
    color: #001D39;
    margin-bottom: 25px;
}

/* LISTAS */
.coluna_ajuda ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.coluna_ajuda li {
    margin-bottom: 16px;
}

/* LINKS */
.coluna_ajuda a {
    text-decoration: none;
    color: #001D39;
    font-size: 22px;
    line-height: 1.4;
}

.coluna_ajuda a:hover {
    opacity: 0.7;
}

/* TELEFONE */
.telefone {
    font-size: 30px;
    font-weight: 600;
    color: #001D39;
    margin-bottom: 10px;
}

/* TEXTOS */
.coluna_ajuda p {
    font-size: 22px;
    line-height: 1.7;
    color: #001D39;
}

/* BLOCOS */
.bloco_ajuda {
    margin-top: 50px;
}

.bloco_ajuda strong {
    display: block;
    font-size: 24px;
    color: #001D39;
    margin-bottom: 15px;
}

/* RESPONSIVO */
@media (max-width: 1200px) {

    .ajuda {
        padding: 60px 30px;
    }

    .ajuda_topo {
        text-align: center;
    }

    .ajuda_wrapper {
        flex-direction: column;
        gap: 50px;
    }

    .coluna_ajuda {
        text-align: center;
    }
}